
    <footer class="bg-dark mt-4 text-center py-4">
        <div class="container-md">
          <p class="text-muted mb-0">
            &copy; All Right Reserved 2020 || Designed by
            <a href="https://facebook.com/sayem.me" class="text-white"
              >Möhåmmäd Sâyēm</a
            >
          </p>
        </div>
      </footer>
    </body>
  </html>
  