<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Best Book Selling Website</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css" />

    <script src="/jQuery/jquery.min.js"></script>
    <script src="/bootstrap/bootstrap.bundle.min.js"></script>
  </head>

  <body class="bg-light">
    <header class="navbar-dark bg-dark">
      <nav class="navbar container-md navbar-expand-md">
        <a class="navbar-brand" href="/">HelloBook</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-link active" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
            <a class="nav-link" href="/books">All Books</a>
            <a class="nav-link" href="/about">About</a>
            <a class="nav-link" href="/contact">Contact</a>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>
